extends ./../layout

block content
  h1= title
  p #{title}
  if errors
    ul
    - for (var i = 0; i < errors.length; i++) {
        li #{errors[i].msg}
    - }
    ul


  form(name="input", action="new", method="post")
    | First Name:
    input(type="text", name="first", id='first')

    | Second Name:
    input(type="text", name="second")

    | Email:
    input(type="text", name="email")

    | Username:
    input(type="text", name="user")

    | Password:
    input(type="text", name="password")

    input(type="submit", value="Submit")
